<div class="footer">
  <table align =  "center" >
    <tr>
      <td><a href="#">English (UK)</a></td>
      <td><a href="#">हिन्दी</a></td>
      <td><a href="#">ਪੰਜਾਬੀ</a></td>
      <td><a href="#">ગુજરાતી</a></td>
      <td><a href="#">বাংলা</a></td>
      <td><a href="#">Español</a></td>

    </tr>
    <hr>
    <tr>
      <td><a href="#">Sign Up</a></td>
      <td><a href="#">Login</a></td>
      <td><a href="#">Messanger</a></td>
      <td><a href="#">Facebook Lite</a></td>
      <td><a href="#">Mobile</a></td>
      <td><a href="#">Find Friends</a></td>
      <td><a href="#">People</a></td>
      <td><a href="#">Pages</a></td>
      <td><a href="#">Places</a></td>
      <td><a href="#">Games</a></td>
      <td><a href="#">Location</a></td>

    </tr>

    <tr>
      <td><a href="#">Celebrities</a></td>
      <td><a href="#">Marketplace</a></td>
      <td><a href="#">Groups</a></td>
      <td><a href="#">Recepes</a></td>
      <td><a href="#">Sports</a></td>
      <td><a href="#">Look</a></td>
      <td><a href="#">Moments</a></td>
      <td><a href="#">Instagram</a></td>
      <td><a href="#">About</a></td>
      <td><a href="#">Create Ad</a></td>
      <td><a href="#">Create Page</a></td>

    </tr>

    <tr>
      <td><a href="#">Developers</a></td>
      <td><a href="#">Careers</a></td>
      <td><a href="#">Privacy</a></td>
      <td><a href="#">Cookies</a></td>
      <td><a href="#">Ad choices</a></td>
      <td><a href="#">Terms</a></td>
      <td><a href="#">Help</a></td>


    </tr>
  </table>
</div>
