<div id="right" class="newClass">
  <p style="font-size:36px ; color:black; font-weight:bold; font-family:sans-serif ">Create a new account</p>
  <p style="font-family:freight sans-serif ;font-size: 25px;">It's free and always will be</p>
  <div id="form">
    <form id ="formclas" class="formclass">
      <table>
        <tr>
          <td><input type="text" placeholder="First Name"  />
            <input type="text" placeholder="Last Name"  /></td>

        </tr>
        <tr>
          <td><input type="text" placeholder="Email or Phone" style="width: 370px" /></td>

        </tr>
        <tr>
          <td><input type="text" placeholder="ReEnter" style="width: 370px"  /></td>

        </tr>
        <tr>
          <td><input type="password" placeholder="New Password"  style="width: 370px" /></td>

        </tr>
        <tr>
          <td><p style="font-size: 25px">Birthday</p></td>
        </tr>
        <tr >
          <td>
            <select >
              <option>Day</option><option>1</option><option>2</option>
            </select>
            <select >
              <option>Month</option>
              <option>January</option>
              <option>February</option>
            </select>
            <select>
              <option>Year</option>
              <option>2001</option>
              <option>2002</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>
            <p  style="font-size: 25px"><input type="radio" value="male" /> Male


              <input type="radio" value="female" /> Female
            </p>
          </td>
        </tr>

      </table>
    </form>

  </div>

  <button class="buttonClass">Create an account </button><br>
</div>
