<div id="header">
  <div id="fb_logo">FACEBOOK
  </div>

  <div class="login_form">
    <form>
      <table>
        <tbody>
        <tr>
          <td>Email or Phone</td> <td>Password</td>
        </tr>
        <tr>
          <td><input type="text" placeholder="Email or Phone"></td>
          <td><input type="text" placeholder="Password"/></td>
          <td><input type="button" value="Log In" /></td>
        </tr>
        <tr>
          <td><input type="checkbox" value="Keep Logged In"/>Keep me logged in</td>
          <td>Forgotten Account ?</td>
        </tr>
        </tbody>

      </table>
    </form>
  </div>
</div>
